@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
     .round_div
     {
         -moz-border-radius: 4px;
        border-radius: 4px;
        background-color:#fff;
        border:1px solid #ccc;
        overflow:auto;
        font-family:Arial;
        
     }
     .float_div_left 
     {
         padding:8px;
         width:370px;  
         float:left;       
     }
     .float_div_right
     {
         padding:8px;
         width:370px;
         float:right;
     }
     
     .main_menu_title
     {
        font-weight:bold;
        font-size:17px;
     }
     .main_menu_subtitle
     {
         font-size:14px;  
         line-height:10px;       
     }
     .main_menu_subtitle a
     {
         color:#333;
         
     }
     
     .float_img_left { float: left; margin: 0px 8px 5px 0px; }
     .float_img_right { float: right; margin: 0px 0px 5px 5px; }
</style>
<div>
    <div style="margin-top:100px; margin-bottom:10px;padding-bottom:14px;overflow:auto;">
        <div class="round_div float_div_left">
            <a href="/Season/Index"><img src="../../Images/venueprofile.png" class="float_img_left" alt="Manage Seasons" border="0" /></a> <span class="main_menu_title"><a href="/Season/Index">Manage Seasons</a></span><br /> <span class="main_menu_subtitle"><a href="/Season/Index">Add a new venue, manage existing venues or edit venue details</a></span>
        </div>
        <div class="round_div float_div_right">
            <a href="/Partner/Index"><img src="../../Images/events.png" class="float_img_left" alt="Manage Partners" border="0" /></a> <span class="main_menu_title"><a href="/Partner/Index">Manage Partners</a></span><br /> <span class="main_menu_subtitle"><a href="/Partner/Index">View, add and edit partners.</a></span>
        </div>
    </div>

    <div style="clear:both;margin-top:10px;">
        <div class="round_div float_div_left">
            <a href="/Team/Index"><img src="../../Images/teammembers.png"  class="float_img_left" alt="Team Setup" border="0" /></a><span class="main_menu_title"><a href="/Team/Index">Team Setup</a></span><br /> <span class="main_menu_subtitle"><a href="/Team/Index">Add new teams. Manage existing teams.</a></span>          
        </div>
        <div class="round_div float_div_right">
            <a href="/Settings/Index"><img src="../../Images/settings.png" class="float_img_left" alt="Settings" border="0" /></a><span class="main_menu_title"><a href="/Settings/Index">Settings</a></span><br /> <span class="main_menu_subtitle"><a href="/Settings/Index">Manage overall settings for BananaSplit.</a></span>    
        </div>
    </div>

</div>