<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BananaSplitConnection" connectionString="metadata=res://*/BananaSplitEntityModel.csdl|res://*/BananaSplitEntityModel.ssdl|res://*/BananaSplitEntityModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\bananasplit.sdf;Password=bsplit1!;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>