<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>    
    <add name="BananaSplitEntityModels" connectionString="metadata=res://*/BananaSplitEntityModel.csdl|res://*/BananaSplitEntityModel.ssdl|res://*/BananaSplitEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=v08k8xjquq.database.windows.net;initial catalog=bananasplitdb;user id=welcome@bananasplit.us;password=m0z1m9z2QQPP;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>